input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #ffffff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}
